#log{
    height: 150px;
    margin-right: 200px;
}
body{
    background-color: rgb(6, 6, 53);
}

.container{
    display: flex; /* Usa flexbox para alinhar os itens horizontalmente */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: flex-start; /* Alinha os itens à esquerda */
    
}
.lista{
    width: 40px;
    height: 30px;
}
.lupa{
    width: 40px;
    height: 30px;
}
form{
    padding-right: 100px;
    width: 600px;
}
/* Forçar a imagem a ter o mesmo tamanho, mantendo a proporção */
.carousel-item img {
    width: 50%;  /* Garantir que a imagem ocupe toda a largura do contêiner */
    height: 550px;  /* Definir uma altura fixa para todas as imagens */
    object-fit: contain; /* Ajusta a imagem para cobrir a área do contêiner sem distorção */
}

  