#log{
    height: 150px;
    margin-right: 200px;
}
body{
    background-color: rgb(6, 6, 53);
}

.container{
    display: flex; /* Usa flexbox para alinhar os itens horizontalmente */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: flex-start; /* Alinha os itens à esquerda */
    
}
.lista{
    max-width:300px;
    max-height:200px;
    width: 40px;
    height: 30px;
    
}

